C:\gpw_scanner\gpw_scanner\.venv\Scripts\python.exe C:\gpw_scanner\gpw_scanner\source\main.py 
Current url:  https://www.biznesradar.pl/gielda/akcje_gpw,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/06N,Q,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/OCTAVA,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/11-BIT-STUDIOS,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/ATAL,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/3RG,Q,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/4MS,Q,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/AAT,Q,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/ABE,Q,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/ASSECO-BUSINESS-SOLUTIONS,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/ACG,Q,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/ASSECO-POLAND,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/ACTION,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/ADIUVO-INVESTMENT,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/AGORA,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/AGROTON,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/ALE,Q,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/ALG,Q,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/ALTUS,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/ALL,Q,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/AMBRA,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/AMICA,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/ANR,Q,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/APS-ENERGIA,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/AMPLI,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/APLISENS,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/APR,Q,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/APATOR,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/ARH,Q,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/ARTIFEX,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/ASBISC,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/ASSECO-SOUTH-EASTERN-EUROPE,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/ASM-GROUP,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/ASTARTA,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/ARCTIC-PAPER,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/ATENDE,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/ATM-GRUPA,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/ATLANTA-POLAND,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/ATREM,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/ATS,Q,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/ATT,Q,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/AIRWAY-MEDIX,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/B24,Q,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/BBI-DEVELOPMENT,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/BBT,Q,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/BETACOM,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/BCS,Q,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/BCX,Q,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/BUDIMEX,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/ELEKTROCIEPLOWNIA-BEDZIN,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/BENEFIT-SYSTEMS,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/BIOTON,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/BIO-PLANET,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/BLOOBER-TEAM,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/BUMECH,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/BIOMAXIMA,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/BOWIM,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/BRASTER,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/BORYSZEW,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/BEST,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/CAP,Q,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/INTER-CARS,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/CAV,Q,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/CBF,Q,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/CLEAN-CARBON-ENERGY,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/CDL,Q,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/CD-PROJEKT,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/CI-GAMES,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/COLUMBUS-CAPITAL,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/CLOUD-TECHNOLOGIES,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/COAL-ENERGY,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/CLNPHARMA,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/COMP,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/COGNOR,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/CAPITAL-PARTNERS,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/CPD,Q,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/CPI,Q,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/COMPERIA-PL,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/CPR,Q,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/CYFROWY-POLSAT,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/CRI,Q,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/CRJ,Q,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/CORMAY,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/CASPAR-ASSET-MANAGEMENT,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/CTS,Q,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/CTX,Q,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/CZERWONA-TOREBKA,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/DAD,Q,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/DAT,Q,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/DEBICA,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/DBE,Q,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/DECORA,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/DEKPOL,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/DELKO,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/DGE,Q,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/DIA,Q,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/DIG,Q,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/DMG,Q,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/DNP,Q,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/DOM-DEVELOPMENT,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/DTR,Q,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/DVL,Q,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/ESOTIQ-HENDERSON,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/EAT,Q,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/ECHO-INVESTMENT,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/ED-INVEST,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/EKO-EXPORT,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/EFEKT,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/EUROHOLD-BULGARIA,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/EKP,Q,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/ELEKTROTIM,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/EMC,Q,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/ENA,Q,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/ENEL-MED,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/ENERGA,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/ENERGOINSTAL,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/ENERGOAPARATURA,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/ENT,Q,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/EQU,Q,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/ERBUD,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/EST,Q,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/EUROTEL,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/EUROPEJSKIE-CENTRUM-ODSZKODOWAN,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/EUROCASH,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/FAB,Q,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/FEERUM,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/FAST-FINANCE,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/FERRO,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/FASING,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/FORTE,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/GRENEVIA,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/GIF,Q,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/GIG,Q,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/GKI,Q,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/GMT,Q,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/GOBARTO,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/GOP,Q,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/GPP,Q,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/GRODNO,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/GRX,Q,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/GETIN-HOLDING,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/HYDROTOR,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/HELIO,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/HARPER-HYGIENICS,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/HERKULES,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/HUG,Q,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/IBSM,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/ICE,Q,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/INDYGOTECH-MINERALS,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/IDM,Q,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/IFC,Q,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/IFI,Q,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/IFR,Q,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/INDUSTRIAL-MILK-COMPANY,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/IMP,Q,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/INSTAL-KRAKOW,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/INTROL,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/INPRO,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/IPOPEMA,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/INTERSPPL,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/INTER-RAO-LIETUVA,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/INTERBUD-LUBLIN,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/INTERNET-UNION,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/IZOBLOK,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/IZOLACJA-JAROCIN,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/IZOSTAL,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/JWW-INVEST,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/KRAKCHEMIA,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/KDM-SHIPPING-PUBLIC-LIMITED,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/KERNEL,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/KGHM,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/KOGENERACJA,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/KOMPAP,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/KOMPUTRONIK,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/KPD,Q,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/KINO-POLSKA-TV,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/KREDYT-INKASO,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/KRKA,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/KRUK,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/KSG-AGRO,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/KETY,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/KVT,Q,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/LABO-PRINT,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/LIBET,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/LUBAWA,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/LENA-LIGHTING,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/LES,Q,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/LKD,Q,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/LRK,Q,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/LRQ,Q,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/LSI-SOFTWARE,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/LENTEX,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/BOGDANKA,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/MABION,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/MAKARONY-POLSKIE,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/MAN,Q,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/MBR,Q,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/MBW,Q,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/MERCOR,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/MDG,Q,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/MDI,Q,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/MEGARON,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/MEX-POLSKA,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/MGT,Q,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/MIRACULUM,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/MLP-GROUP,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/MLK,Q,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/MLS,Q,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/MENNICA-POLSKA,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/MOC,Q,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/MONNARI-TRADE,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/MOV,Q,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/MIRBUD,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/MERCATOR,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/MOSTOSTAL-PLOCK,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/MOSTOSTAL-WARSZAWA,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/MOSTOSTAL-ZABRZE,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/MUR,Q,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/MVP,Q,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/MW-TRADE,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/MXC,Q,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/MUZA,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/NCL,Q,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/NEUCA,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/NNG,Q,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/NTC,Q,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/NTT,Q,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/NTU,Q,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/PANOVA,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/NVG,Q,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/NOVITA,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/NEWAG,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/NXB,Q,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/NXG,Q,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/ORZEL-BIALY,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/ODLEWNIE-POLSKIE,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/OND,Q,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/ONO,Q,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/OPG,Q,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/ORANGE,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/OPTEAM,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/OTMUCHOW,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/OT-LOGISTICS,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/PAS,Q,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/PATENTUS,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/PBS-FINANSE,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/PEKABEX,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/POLICE,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/PCF,Q,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/PCO,Q,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/ROKITA,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/PCC-EXOL,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/PHOTON,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/PGM,Q,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/PGV,Q,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/PHARMENA,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/PROJPRZEM,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/ORLEN,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/PKPCARGO,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/PLAYWAY,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/PLAZACNTR,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/PRIMA-MODA,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/PAMAPOL,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/PEPEES,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/PRI,Q,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/PROCHEM,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/PROTEKTOR,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/PTG,Q,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/PTWP,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/PUR,Q,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/POLWAX,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/POLIMEX,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/QUANTUM-SOFTWARE,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/QUERCUS,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/RAE,Q,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/RAFAMET,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/RAINBOW-TOURS,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/REDAN,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/REGNON,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/RAFAKO,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/REINHOLD,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/RELPOL,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/REMAK,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/RNC,Q,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/RND,Q,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/RANK-PROGRESS,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/ROPCZYCE,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/RVU,Q,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/RAWLPLUG,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/SANTANDER,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/SCP,Q,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/SEKO,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/SELENA-FM,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/SEN,Q,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/AS-SILVANO-FASHION,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/SFINKS,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/SYGNITY,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/SADOVAYA,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/SOHO-DEVELOPMENT,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/STARHEDGE,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/SHO,Q,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/SIM,Q,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/SNIEZKA,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/SKARBIEC-HOLDING,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/SKYLINE-INVESTMENT,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/SLV,Q,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/SNK,Q,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/SYNEKTIK,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/SANWIL-HOLDING,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/SUNEX,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/SONEL,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/SOPHARMA,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/SPR,Q,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/STALPROFIL,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/STALPRODUKT,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/STS,Q,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/STALEXPORT-AUTOSTRADY,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/SVE,Q,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/SECO-WARWICK,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/TARCZYNSKI,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/TBL,Q,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/TEN,Q,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/THG,Q,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/TALEX,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/TATRY-MOUNTAIN-RESORTS,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/TOYA,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/TORPOL,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/TOW,Q,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/TAURON,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/TRITON-DEVELOPMENT,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/TRAKCJA,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/TRANS-POLONIA,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/TERMO-REX,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/TESGAS,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/TXT,Q,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/UNICREDIT,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/ULG,Q,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/ULMA-CONSTRUCCION,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/UNF,Q,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/UNIBEP,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/UNIMOT-GAZ,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/URT,Q,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/VGO,Q,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/VINDEXUS,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/VOTUM,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/VOXEL,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/VRC,Q,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/VISTAL,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/VIVID-GAMES,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/WASKO,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/WIKANA,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/WIS,Q,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/WIELTON,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/WIRTUALNA-POLSKA,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/WPR,Q,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/WTN,Q,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/WAWEL,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/WARIMPEX,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/XPLUS,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/XTP,Q,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/NEPTIS,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/YOLO,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/YARRL,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/ZAB,Q,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/ZAKLADY-AZOTOWE-PULAWY,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/ZEPAK,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/ZAMET-INDUSTRY,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/ZREMB-CHOJNICE,Q
Current url:  https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/STAPORKOW,Q
income_revenue:  +175.89
income_revenue2 +175.89
income_gross:  -34.24
income_EBIT: +79.09
income_net: +117.85
income_revenue:  +9.31
income_revenue2 +9.31
income_gross:  -45.98
income_EBIT: +47.55
income_net: +56.77
income_revenue:  +14.20
income_revenue2 +14.20
income_gross:  -988.54
income_EBIT: -129.78
income_net: -296.82
income_revenue:  -64.97
income_revenue2 -64.97
income_gross:  -72.24
income_EBIT: -71.70
income_net: -82.28
income_revenue:  -62.76
income_revenue2 -62.76
income_gross:  -205.66
income_EBIT: -270.50
income_net: -267.19
income_revenue:  +12.47
income_revenue2 +12.47
income_gross:  -44.88
income_EBIT: -41.58
income_net: -18.59
income_revenue:  +39.53
income_revenue2 +39.53
income_gross:  +10.69
income_EBIT: -111.05
income_net: -111.14
income_revenue:  0
income_revenue2 0
income_gross:  -0.99
income_EBIT: -3.09
income_net: -4.06
income_revenue:  +8.28
income_revenue2 +8.28
income_gross:  +13.30
income_EBIT: +13.47
income_net: +18.21
income_revenue:  -17.06
income_revenue2 -17.06
income_gross:  -18.91
income_EBIT: -21.65
income_net: -25.19
income_revenue:  0
income_revenue2 0
income_gross:  +9.29
income_EBIT: +10.21
income_net: +17.31
income_revenue:  +5.18
income_revenue2 +5.18
income_gross:  -10.70
income_EBIT: -10.78
income_net: -0.01
income_revenue:  -90.15
income_revenue2 -90.15
income_gross:  +230.69
income_EBIT: +129.94
income_net: +4.20
income_revenue:  +1.79
income_revenue2 +1.79
income_gross:  +19.68
income_EBIT: +74.24
income_net: -17.21
income_revenue:  -127.17
income_revenue2 -127.17
income_gross:  +4.01
income_EBIT: +50.56
income_net: +42.64
income_revenue:  0
income_revenue2 0
income_gross:  +488.98
income_EBIT: +398.19
income_net: +208.13
income_revenue:  +52.37
income_revenue2 +52.37
income_gross:  +63.86
income_EBIT: +110.62
income_net: -74.24
income_revenue:  -0.59
income_revenue2 -0.59
income_gross:  -9.78
income_EBIT: -14.81
income_net: -17.35
income_revenue:  +43.62
income_revenue2 +43.62
income_gross:  +46.01
income_EBIT: +114.58
income_net: +157.07
income_revenue:  -12.39
income_revenue2 -12.39
income_gross:  -114.23
income_EBIT: -125.35
income_net: -173.83
income_revenue:  -5.03
income_revenue2 -5.03
income_gross:  -9.06
income_EBIT: +47.62
income_net: +1009.52
income_revenue:  +22.19
income_revenue2 +22.19
income_gross:  +21655.56
income_EBIT: +331.77
income_net: +185.29
income_revenue:  -49.90
income_revenue2 -49.90
income_gross:  -23.84
income_EBIT: -440.91
income_net: -1340.04
income_revenue:  +58.60
income_revenue2 +58.60
income_gross:  +103.57
income_EBIT: -5.26
income_net: +120.00
income_revenue:  -4.89
income_revenue2 -4.89
income_gross:  -43.17
income_EBIT: -37.69
income_net: -27.62
income_revenue:  0
income_revenue2 0
income_gross:  +0.76
income_EBIT: +0.74
income_net: -2.69
income_revenue:  -4.27
income_revenue2 -4.27
income_gross:  +2.45
income_EBIT: -3.73
income_net: +1.38
income_revenue:  -77.77
income_revenue2 -77.77
income_gross:  -91.81
income_EBIT: -75.65
income_net: -82.51
income_revenue:  -3.03
income_revenue2 -3.03
income_gross:  -6.09
income_EBIT: -5.72
income_net: +15.38
income_revenue:  0
income_revenue2 0
income_gross:  -35.11
income_EBIT: -35.11
income_net: -49.39
income_revenue:  +9.06
income_revenue2 +9.06
income_gross:  +1.19
income_EBIT: +3.49
income_net: -21.46
income_revenue:  +16.21
income_revenue2 +16.21
income_gross:  +121.23
income_EBIT: +122.78
income_net: +76.10
income_revenue:  -26.08
income_revenue2 -26.08
income_gross:  +74.86
income_EBIT: -5.58
income_net: +26.60
income_revenue:  -14.77
income_revenue2 -14.77
income_gross:  -111.57
income_EBIT: -111.74
income_net: -129.20
income_revenue:  +25.03
income_revenue2 +25.03
income_gross:  +346.11
income_EBIT: +472.68
income_net: +268.91
income_revenue:  -11.14
income_revenue2 -11.14
income_gross:  -46.89
income_EBIT: -49.70
income_net: -47.45
income_revenue:  -3.06
income_revenue2 -3.06
income_gross:  -47.81
income_EBIT: -49.37
income_net: -30.06
income_revenue:  +33.28
income_revenue2 +33.28
income_gross:  +166.24
income_EBIT: +168.33
income_net: +172.34
income_revenue:  -31.23
income_revenue2 -31.23
income_gross:  -23.34
income_EBIT: -23.34
income_net: +72.89
income_revenue:  0
income_revenue2 0
income_gross:  -525.53
income_EBIT: +103.31
income_net: +92.92
income_revenue:  -181.82
income_revenue2 -181.82
income_gross:  -107.79
income_EBIT: -258.56
income_net: -9962.50
income_revenue:  +25.62
income_revenue2 +25.62
income_gross:  -37.92
income_EBIT: -32.68
income_net: -6.12
income_revenue:  -31.52
income_revenue2 -31.52
income_gross:  -1537.11
income_EBIT: -65.43
income_net: -74.84
income_revenue:  -8.03
income_revenue2 -8.03
income_gross:  -12.57
income_EBIT: -165.20
income_net: -806.89
income_revenue:  -8.67
income_revenue2 -8.67
income_gross:  +39.13
income_EBIT: +0.33
income_net: +34.32
income_revenue:  -0.41
income_revenue2 -0.41
income_gross:  +151.10
income_EBIT: +266.36
income_net: +20014.29
income_revenue:  0
income_revenue2 0
income_gross:  -0.62
income_EBIT: +6.78
income_net: +2.02
income_revenue:  0
income_revenue2 0
income_gross:  -15.48
income_EBIT: -3.59
income_net: -9.22
income_revenue:  -68.49
income_revenue2 -68.49
income_gross:  +108.85
income_EBIT: +100.60
income_net: +98.58
income_revenue:  +20.86
income_revenue2 +20.86
income_gross:  +0.65
income_EBIT: +2.59
income_net: -19.65
income_revenue:  +75.06
income_revenue2 +75.06
income_gross:  +20.99
income_EBIT: +24.34
income_net: -15.26
income_revenue:  +10.67
income_revenue2 +10.67
income_gross:  +417.84
income_EBIT: +278.16
income_net: +345.08
income_revenue:  +49.22
income_revenue2 +49.22
income_gross:  +169.69
income_EBIT: +376.79
income_net: +296.72
income_revenue:  -68.08
income_revenue2 -68.08
income_gross:  -363.48
income_EBIT: -7146.40
income_net: 0
income_revenue:  +19.05
income_revenue2 +19.05
income_gross:  +562.96
income_EBIT: +3466.67
income_net: +939.78
income_revenue:  -3.42
income_revenue2 -3.42
income_gross:  -251.16
income_EBIT: -43.76
income_net: -45.29
income_revenue:  -72.92
income_revenue2 -72.92
income_gross:  +48.29
income_EBIT: +52.90
income_net: +42.21
income_revenue:  0
income_revenue2 0
income_gross:  +77.50
income_EBIT: +39.86
income_net: -5.29
income_revenue:  +0.05
income_revenue2 +0.05
income_gross:  -16.75
income_EBIT: -16.75
income_net: -74.79
income_revenue:  -49.86
income_revenue2 -49.86
income_gross:  -72.81
income_EBIT: -72.47
income_net: -67.02
income_revenue:  0
income_revenue2 0
income_gross:  +14.14
income_EBIT: +12.08
income_net: +0.77
income_revenue:  +18.53
income_revenue2 +18.53
income_gross:  -89.93
income_EBIT: -63.54
income_net: -117.76
income_revenue:  +32.19
income_revenue2 +32.19
income_gross:  +38.46
income_EBIT: +39.23
income_net: +15.07
income_revenue:  0
income_revenue2 0
income_gross:  +137.65
income_EBIT: +26.23
income_net: +24.07
income_revenue:  +32.16
income_revenue2 +32.16
income_gross:  -49.66
income_EBIT: -92.42
income_net: -93.81
income_revenue:  -28.08
income_revenue2 -28.08
income_gross:  -23.60
income_EBIT: -23.03
income_net: +16.01
income_revenue:  -93.61
income_revenue2 -93.61
income_gross:  -114.76
income_EBIT: -117.56
income_net: -138.37
income_revenue:  +15.38
income_revenue2 +15.38
income_gross:  +548.58
income_EBIT: +410.81
income_net: -29.26
income_revenue:  -4.03
income_revenue2 -4.03
income_gross:  -30.34
income_EBIT: -21.99
income_net: +184.32
income_revenue:  -99.69
income_revenue2 -99.69
income_gross:  +92.11
income_EBIT: +74.65
income_net: +93.81
income_revenue:  +22.31
income_revenue2 +22.31
income_gross:  -4.31
income_EBIT: -4.96
income_net: -60.08
income_revenue:  +10.07
income_revenue2 +10.07
income_gross:  +15.75
income_EBIT: +27.68
income_net: +40.22
income_revenue:  -20.83
income_revenue2 -20.83
income_gross:  +14.75
income_EBIT: -154.05
income_net: -339.06
income_revenue:  0
income_revenue2 0
income_gross:  +33.18
income_EBIT: +33.18
income_net: +31.96
income_revenue:  0
income_revenue2 0
income_gross:  +41.44
income_EBIT: +48.19
income_net: +51.91
income_revenue:  +17.08
income_revenue2 +17.08
income_gross:  +421.63
income_EBIT: +361.40
income_net: +165.71
income_revenue:  +9.35
income_revenue2 +9.35
income_gross:  -3886.36
income_EBIT: -3229.63
income_net: -3457.14
income_revenue:  -102.89
income_revenue2 -102.89
income_gross:  -525.90
income_EBIT: -396.70
income_net: -415.32
income_revenue:  0
income_revenue2 0
income_gross:  +46.97
income_EBIT: -9.37
income_net: -52.96
income_revenue:  +16.85
income_revenue2 +16.85
income_gross:  +7.13
income_EBIT: -19.90
income_net: -17.67
income_revenue:  -2.98
income_revenue2 -2.98
income_gross:  +1016.69
income_EBIT: +708.83
income_net: +889.59
income_revenue:  +1.79
income_revenue2 +1.79
income_gross:  +98.70
income_EBIT: +110.22
income_net: +327.97
income_revenue:  +30.37
income_revenue2 +30.37
income_gross:  +36.50
income_EBIT: +59.17
income_net: +91.24
income_revenue:  +4.42
income_revenue2 +4.42
income_gross:  -39.37
income_EBIT: -17.04
income_net: -74.24
income_revenue:  -54.45
income_revenue2 -54.45
income_gross:  +34.00
income_EBIT: +24.08
income_net: +23.73
income_revenue:  -50.65
income_revenue2 -50.65
income_gross:  -174.05
income_EBIT: -260.06
income_net: +60.02
income_revenue:  +52.86
income_revenue2 +52.86
income_gross:  +62.61
income_EBIT: +72.78
income_net: +74.10
income_revenue:  +18.80
income_revenue2 +18.80
income_gross:  -1461.01
income_EBIT: -520.30
income_net: -149.42
income_revenue:  +34.71
income_revenue2 +34.71
income_gross:  +207.78
income_EBIT: +147.19
income_net: +165.14
income_revenue:  -50.42
income_revenue2 -50.42
income_gross:  +125.72
income_EBIT: +116.59
income_net: +107.59
income_revenue:  +16.89
income_revenue2 +16.89
income_gross:  +3.98
income_EBIT: -6.54
income_net: -10.63
income_revenue:  -14.82
income_revenue2 -14.82
income_gross:  +49.30
income_EBIT: +15.79
income_net: +13.96
income_revenue:  -12.36
income_revenue2 -12.36
income_gross:  -101.21
income_EBIT: -152.92
income_net: -141.93
income_revenue:  -5.50
income_revenue2 -5.50
income_gross:  +7.86
income_EBIT: -68.80
income_net: +242.86
income_revenue:  +23.74
income_revenue2 +23.74
income_gross:  +27.45
income_EBIT: +48.54
income_net: +79.92
income_revenue:  +24.69
income_revenue2 +24.69
income_gross:  +73.55
income_EBIT: +73.95
income_net: +52.25
income_revenue:  +5.92
income_revenue2 +5.92
income_gross:  -22.01
income_EBIT: -12.31
income_net: +0.65
income_revenue:  0
income_revenue2 0
income_gross:  +3.50
income_EBIT: +4.17
income_net: +5.46
income_revenue:  +5.09
income_revenue2 +5.09
income_gross:  +7.75
income_EBIT: +6.07
income_net: +8.01
income_revenue:  -22.23
income_revenue2 -22.23
income_gross:  -84.11
income_EBIT: -152.31
income_net: -83.96
income_revenue:  -8.49
income_revenue2 -8.49
income_gross:  +8.29
income_EBIT: +6.19
income_net: +8.58
income_revenue:  +14.57
income_revenue2 +14.57
income_gross:  +73.10
income_EBIT: +59.64
income_net: +49.42
income_revenue:  0
income_revenue2 0
income_gross:  -13.14
income_EBIT: -32.01
income_net: -303.02
income_revenue:  -70.02
income_revenue2 -70.02
income_gross:  -46.90
income_EBIT: -34.42
income_net: -111.49
income_revenue:  -50.41
income_revenue2 -50.41
income_gross:  -86.49
income_EBIT: -89.33
income_net: -92.99
income_revenue:  +210.57
income_revenue2 +210.57
income_gross:  +56.79
income_EBIT: +86.07
income_net: -1305.08
income_revenue:  -57.09
income_revenue2 -57.09
income_gross:  -17.11
income_EBIT: +62.41
income_net: -15.46
income_revenue:  0
income_revenue2 0
income_gross:  +95.43
income_EBIT: +115.32
income_net: +105.47
income_revenue:  -98.89
income_revenue2 -98.89
income_gross:  -101.71
income_EBIT: -76.95
income_net: -0.63
income_revenue:  +36.82
income_revenue2 +36.82
income_gross:  +199.81
income_EBIT: +605.10
income_net: +249.23
income_revenue:  +22.68
income_revenue2 +22.68
income_gross:  +117.04
income_EBIT: +1546.62
income_net: -42.85
income_revenue:  0
income_revenue2 0
income_gross:  0
income_EBIT: 0
income_net: 0
income_revenue:  +16.56
income_revenue2 +16.56
income_gross:  +1023.06
income_EBIT: +3226.09
income_net: -105.15
income_revenue:  0
income_revenue2 0
income_gross:  +0.12
income_EBIT: +5.43
income_net: +12.30
income_revenue:  -58.46
income_revenue2 -58.46
income_gross:  -1950.97
income_EBIT: -1045.00
income_net: -191.80
income_revenue:  -19.68
income_revenue2 -19.68
income_gross:  +22.67
income_EBIT: +34.14
income_net: +30.59
income_revenue:  +5.29
income_revenue2 +5.29
income_gross:  +170.19
income_EBIT: +173.00
income_net: -245.14
income_revenue:  -22.97
income_revenue2 -22.97
income_gross:  -122.96
income_EBIT: -97.71
income_net: -92.01
income_revenue:  +13.79
income_revenue2 +13.79
income_gross:  -137.62
income_EBIT: -159.34
income_net: -261.59
income_revenue:  -85.98
income_revenue2 -85.98
income_gross:  -229.40
income_EBIT: -90.60
income_net: +138.99
income_revenue:  +19.69
income_revenue2 +19.69
income_gross:  -8.10
income_EBIT: -34.69
income_net: -36.49
income_revenue:  -40.36
income_revenue2 -40.36
income_gross:  -79.43
income_EBIT: +406.22
income_net: +376.91
income_revenue:  0
income_revenue2 0
income_gross:  -38.97
income_EBIT: -37.47
income_net: +5.94
income_revenue:  -3.99
income_revenue2 -3.99
income_gross:  -21.12
income_EBIT: -21.55
income_net: -74.94
income_revenue:  +62.52
income_revenue2 +62.52
income_gross:  -492.83
income_EBIT: -5461.82
income_net: -160.87
income_revenue:  -1.31
income_revenue2 -1.31
income_gross:  +63.69
income_EBIT: +63.58
income_net: +63.69
income_revenue:  -0.90
income_revenue2 -0.90
income_gross:  -10.92
income_EBIT: -17.34
income_net: -25.41
income_revenue:  -9.91
income_revenue2 -9.91
income_gross:  -7.62
income_EBIT: -2.65
income_net: -93.65
income_revenue:  +4.11
income_revenue2 +4.11
income_gross:  +1024.34
income_EBIT: +175.03
income_net: +2313.60
income_revenue:  +3.03
income_revenue2 +3.03
income_gross:  +79.17
income_EBIT: +343.48
income_net: +1590.00
income_revenue:  -49.91
income_revenue2 -49.91
income_gross:  -39.67
income_EBIT: -87.32
income_net: -112.65
income_revenue:  -4.45
income_revenue2 -4.45
income_gross:  +166.42
income_EBIT: -192.55
income_net: +34.70
income_revenue:  -36.12
income_revenue2 -36.12
income_gross:  +134.29
income_EBIT: +121.65
income_net: -434.76
income_revenue:  +7.94
income_revenue2 +7.94
income_gross:  +18.93
income_EBIT: +13.51
income_net: +16.36
income_revenue:  +2.66
income_revenue2 +2.66
income_gross:  -90.24
income_EBIT: -88.48
income_net: -116.95
income_revenue:  -5.87
income_revenue2 -5.87
income_gross:  +655.78
income_EBIT: +21.09
income_net: +855.08
income_revenue:  +8.03
income_revenue2 +8.03
income_gross:  +4.07
income_EBIT: +7.47
income_net: +61.45
income_revenue:  -1.87
income_revenue2 -1.87
income_gross:  -30.50
income_EBIT: -23.37
income_net: -44.78
income_revenue:  +41.47
income_revenue2 +41.47
income_gross:  +41.79
income_EBIT: -26.84
income_net: -26.84
Traceback (most recent call last):
  File "C:\gpw_scanner\gpw_scanner\source\main.py", line 22, in <module>
    ranking.get_report(Company_collection)
    ~~~~~~~~~~~~~~~~~~^^^^^^^^^^^^^^^^^^^^
  File "C:\gpw_scanner\gpw_scanner\source\report.py", line 29, in get_report
    print("income_revenue: " ,company.income_revenue[-1].r_to_r)
                              ~~~~~~~~~~~~~~~~~~~~~~^^^^
IndexError: list index out of range

Process finished with exit code 1